In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import preprocessing as pu
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier,\
GradientBoostingClassifier, VotingClassifier, BaggingClassifier, ExtraTreesClassifier\
,AdaBoostClassifier
from sklearn.svm import SVC


from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

import pickle
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from collections import Counter

In [15]:
bst_col=pickle.load(open('bst_col.pickle','rb'))

In [16]:
df=pd.read_csv('income_evaluation.csv')
pd.set_option('display.max_columns', None)
df=pu.SpaceRemove(df)
y=df['income'].apply(lambda x:0 if x==' <=50K' else 1)
X=df.drop(['income'],axis=1)
X,Encoders=pu.Cat2Num(X)
X=X[bst_col]

['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

In [17]:
X.head()

,age,capital_gain,marital_status_ Married-civ-spouse,final_weight,relationship_ Husband,education_num,hrs_per_week,education,occupation,marital_status_ Never-married,workclass,sex_ Female,relationship_ Not-in-family,relationship_ Own-child,relationship_ Wife,native_country,race_ White,marital_status_ Divorced,race_ Black
0,39,2174,0.0,77516,0.0,13,40,9,1,1.0,7,0.0,1.0,0.0,0.0,39,1.0,0.0,0.0
1,50,0,1.0,83311,1.0,13,13,9,4,0.0,6,0.0,0.0,0.0,0.0,39,1.0,0.0,0.0
2,38,0,0.0,215646,0.0,9,40,11,6,0.0,4,0.0,1.0,0.0,0.0,39,1.0,1.0,0.0
3,53,0,1.0,234721,1.0,7,40,1,6,0.0,4,0.0,0.0,0.0,0.0,39,0.0,0.0,1.0
4,28,0,1.0,338409,0.0,13,40,9,10,0.0,4,1.0,0.0,0.0,1.0,5,0.0,0.0,1.0

## Train-Test Split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(\
     X, y, test_size=0.33, random_state=42)

## Scaling

In [19]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
MLA=[LogisticRegression(solver='sag',max_iter=300),\
     RandomForestClassifier(),\
     ExtraTreesClassifier()\
]

In [21]:
MLA

[LogisticRegression(max_iter=300, solver='sag'),
 RandomForestClassifier(),
 ExtraTreesClassifier()]