In [46]:
import numpy as np
import pandas as pd
from preprocessing import Cat2Num
from preprocessing import asd

ImportError: cannot import name 'asd' from 'preprocessing' (E:\Github\Income_Classifier\preprocessing.py)

In [34]:
df=pd.read_csv('income_evaluation.csv')

In [35]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
y=df['income'].apply(lambda x:0 if x==' <=50K' else 1)
X=df.drop(['income'],axis=1)
X,Encoders=Cat2Num(X)

KeyError: 'income'